<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!--define local reference to pass to function -->
    <input
      type="text"
      class="form-control"
      #severNameInput>
    <label>Server Content</label>
    <input
      type="text"
      class="form-control"
      #serverContentInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(severNameInput)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(severNameInput)">Add Server Blueprint</button>
  </div>
</div>
