<div
  class="panel panel-default">
  <div class="panel-heading" #heading>{{ name }}</div>
  <div class="panel-body">
    <ng-content></ng-content> <!--marking for angular to add content between opening and closing tags-->
  </div>
</div>
